<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>My Network</display-name>
	<listener>
    		<listener-class>com.sonic.mynetwork.web.Init</listener-class>
    </listener>  
	<context-param>
		<param-name>apiKey</param-name>
		<param-value>xxxxxxxx</param-value>
	</context-param>
	<context-param>
		<param-name>apiSecret</param-name>
		<param-value>xxxxxxxx</param-value>
	</context-param>
	<context-param>
		<param-name>token</param-name>
		<param-value>xxxxxxx</param-value>
	</context-param>
	<context-param>
		<param-name>tokenSecret</param-name>
		<param-value>xxxxxxxx</param-value>
	</context-param>
	<servlet>
		<servlet-name>getnetwork</servlet-name>
		<servlet-class>com.sonic.mynetwork.web.GetNetworkServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>getnetwork</servlet-name>
		<url-pattern>/getnetwork</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>authurl</servlet-name>
		<servlet-class>com.sonic.mynetwork.web.AuthorizationURLServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>authurl</servlet-name>
		<url-pattern>/authurl</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>com.sonic.mynetwork.web.DownloadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>

</web-app>
